.navbar-brand strong {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: #f8c146;
}

.navbar .nav-link {
    color: #fff;
    transition: all 0.3s ease;
}

.navbar .nav-link:hover {
    color: #f8c146;
}

.nav-item.dropdown .dropdown-menu {
    display: none;
    transition: all 0.3s ease;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

