html, body {
    margin: 0;
    padding: 0;
    background-image: url('../../images/bg_1.jpg');
    background-repeat: no-repeat;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.wihout-underline {
    text-decoration: none;
}